/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/roboto-regular-webfont.woff') format('woff');
}

#window {
  display: grid;
  grid-template-columns: minmax(250px, 20vw) 80vw;
}

.active {
  background: rgba(0, 0, 255, 0.3);
}